<!DOCTYPE html>
<%- include('../partials/head'); %>

<body class="container">
<%- include('../partials/header', {pagina: 'About'}); %>

<main>
    <div class="jumbotron">
        <h1>Sobre mim</h1>
        <p>Oi, sou o greg, comecei a estudar dev este ano e este é um estudo de Node + EJS</p>
    </div>
</main>


<%- include('../partials/footer') %>

</body>
</html>